@font-face {
      font-family: "Hack Regular";
      src: url("Hack-Regular.ttf");
}

html {
    background-color: #31343f;

}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

body{
    color: #abb2c0;
    padding: 0px 10px;
    font-family: "Hack Regular"
}

.text-center {
    transition: all .2s ease-in-out;
    text-align: center;
}

a {
    color:#97c378;
    text-decoration: none;
}
a:hover {
    color: #97c378;
    text-decoration: underline;
}

a.button.button-clear, a.button.button-clear:visited {
    color: #abb2c0;
    background-color: transparent;
    font-size: 17px;
    padding: 10px;
}

a.button.button-clear:hover {
    color: #abb2c0;
}

div.text-area {
    margin-top: 13%;
    max-width: 478px;
    margin-left: auto;
    margin-right: auto;
}
