.text-center {
    text-align: center;
}

a {
    color:#606c76;
    text-decoration: underline;
}
a:hover {
    color: #606c76;
    text-decoration: underline;
}

a.button.button-clear {
    color: #606c76;
    background-color: transparent;
    font-size: 17px;
    padding: 10px;
}

a.button.button-clear:hover {
    color: #276ca5;
}

div.text-area {
    margin-top: 13%;
    max-width: 478px;
    margin-left: auto;
    margin-right: auto;
}
