 .topmessage {
    position: absolute;
    margin-top:0;
    z-index: 1;
}

.main section .page_container {
    position: relative;
    top: 20%;
    margin: 0 auto 0;
    max-width: 950px;
    z-index: 3;
}
.onepage-wrapper .section {

min-height: 675px;

}

.onepage-wrapper .work-section {
    /*min-height: 800px;*/
}
.main section.page1 {
    background-color: #7a8288;
    background-color: white;
}
.modal-body {
    max-height: 1000px;
}

.work-thumbnail {
    max-height: 231px;
}

/*.page-header {
    border-bottom: 1px solid #666666;
}*/
.circular {
	width: 150px;
	height: 150px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(/Content/images/MeSmall.jpg) no-repeat;
	}

/*.navbar-brand span.fa{
    font-size: small;
}*/