
body {
    font-family: 'Roboto', sans-serif;
    background-color: #6AAD7B;
}
.btn-outline.btn-sm:hover {
    color: #7D7D7D;
    background-color: white;
}
#mainContent{
    margin-top: 7%;
}
h1 {
    letter-spacing: 1px;
    word-spacing: 12px;
    color: white;
}
hr {
    border-top: 1px solid #BDC3C7;
    margin-top: 10px;
    margin-bottom: 10px;
}
.gallery{
    color:#34495E;
}

.lynch {
    color: #6C7A89;
}

.btn-primary, .btn-primary:hover, .btn-primary.hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    color: white;
}


.btn{
    border: none;
    color:white;
}

.btn-outline.btn-sm{
    color:white;
}

small {
    color: white !important;
}
/* Prettier Links */

a:link {
    color: white; }

a:visited {
    color: white; }

a:hover {
    color: white; }

a:active {
    color: white; }

a {
    color: white;
    text-decoration: underline;
}
a.btn {
    color: white;
    text-decoration: none;
}

.btn.btn-primary.btn-lg {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .container {
        margin-top: 10%;
    }
}

.btn.btn-primary.btn-lg.main-button {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    color: #7D7D7D;
    font-weight: bold;
}
