.topmessage {
    position: absolute;
    margin-top:0;
    z-index: 1;
}

.main section .page_container {
    position: relative;
    top: 20%;
    margin: 0 auto 0;
    max-width: 1000px;
    z-index: 3;
}

.work-thumbnail {
    max-height: 231px;
}
.circular {
	width: 150px;
	height: 150px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(/Content/images/MeSmall.jpg) no-repeat;
}

.navbar-border-button{
    font-size: 14px;
    color: #fff !important;
    background-color: transparent !important;
    border-color: #fff !important;
}

.navbar-border-button:hover {
    color: black !important;
    background-color: white !important; 
    border-color: #fff !important;
}
.twitter-follow-button {
    width: 84px !important;
}
.twitter-timeline {
    margin-top: 10px !important;
}
@media(max-width:650px){
    .onepage-wrapper .ops-section { 
        height:auto !important;
    }
    body {
        margin-top: 45px;
        margin-bottom: 45px;
    }
}

body {

           font-family: 'Roboto', sans-serif;
           
             background-color: #ffffff;

             margin-top: 7%;
        }
      h1 {
        letter-spacing: 1px;
        word-spacing: 12px;

      }
      hr {
        border-top: 1px solid #BDC3C7;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      #mainDisplay {
        background-color: #34495E;
      }
      .gallery{
        color:#34495E;
      }

      .lynch {
        color: #6C7A89;
      }

      .btn-primary:hover, .btn-primary.hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
        color: #fff;
        background-color: #48c9b0;
        border-color: #48c9b0;
      }


      .btn-primary {
        color: #fff;
        background-color: #1abc9c;
      }
      .btn{
        border: none;
      }

      .btn-outline.btn-sm{
        color: #34495E;
      }
      .btn-outline.btn-sm:hover{
        color: #34495E;
      }
