<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="app">
<head>
    <title>Patrick Sullivan | Do or do not. There is no try. </title>
    <meta name="google-site-verification" content="gPY0FAc-sLZ6gfzxtoBIcHjI2GhDgOZcVy7LXglE33w" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="Content/onepage-scroll.css" rel="stylesheet" />
    <link href="Content/bootstrap.custom.css" rel="stylesheet" />
    <link href="Content/site.css" rel="stylesheet" />
    <link href="Content/font-awesome.min.css" rel="stylesheet" />
    <link href="Content/colors.css" rel="stylesheet" />
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-47824136-1', 'pdsullivan.com');
        ga('send', 'pageview');
    </script>
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
</head>
<body ng-cloak>
    <div id="navbarContainer" class="container row">
        <div class="  ">
            <nav class=" navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="">
                    <div class="navbar-header">
                        <button type="button" id="toggleNavButton" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" id="brandNavButton" href="#">Patrick Sullivan</a>
                        
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right" style="margin-right: auto;">
                            <li id="homeNavListItem" class="active">
                                <a id="homeNavItem" href="#" data-target=".navbar-collapse" data-toggle="collapse" title="Home">
                                    Home
                                </a>
                            </li>
                            <li id="aboutNavListItem">
                                <a id="aboutNavItem" href="#" data-target=".navbar-collapse" data-toggle="collapse" title="About Me">
                                    About
                                </a>
                            </li>
                            <li id="workNavListItem">
                                <a id="workNavItem" href="#" data-target=".navbar-collapse" data-toggle="collapse" title="What I Do">
                                    Work
                                </a>
                            </li>
                            <li id="contactNavListItem">
                                <a id="contactNavItem" href="#" data-target=".navbar-collapse" data-toggle="collapse" title="Contact Me">
                                    Contact Me
                                </a>
                            </li>
                            <li id="linksNavListItem">
                                <a id="linksNavItem" href="#" data-target=".navbar-collapse" data-toggle="collapse" title="Some Links">
                                    Links
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="main" id="main">
        <!--Page 1-->
        <section class="page1 ops-section" id="page1">
            <div class="row container page_container ">
                <div class="jumbotron bg-transparent">
                    <div class="page-header">

                        <h1 class="text-right"><span class="circular"></span>Patrick Sullivan</h1>
                        <h3 class="text-right">
                            <small>
                                <a href="http://twitter.com/patsully88" target="_blank">@patsully88</a>
                            </small>
                        </h3>

                        <h3 class="text-right lead"><small>Professional Pizza Taster</br>But in my spare time I'm a </small><strong class="text-primary">Software Engineer</strong></h3>
                    </div>
                    <spann class="text-right">
                        <small class="">
                            Site created by
                            <a href="http://www.pdsullivan.com" target="_blank">
                                Patrick Sullivan (me)
                            </a>. Using
                            <a href="http://www.thepetedesign.com/demos/onepage_scroll_demo.html" target="_blank">
                                One Page Scroll
                            </a>,
                            <a href="http://getbootstrap.com/" target="_blank">
                                Bootstrap
                            </a>, and
                            <a target="_blank" href="https://github.com/robconery/biggy">
                                Biggy
                            </a> on the backend.
                        </small>
                    </spann>
                </div>
            </div>
        </section>
        <!--Page 2-->
        <section class="page2 ops-section" id="page2">
            <div class="container page_container">
                <div class="row">

                    <div class="col-sm-10 ">
                        <h1 class="text-primary">Hello,</h1>
                        <p class="lead ">
                            I am Patrick Sullivan and I live in Birmingham, Alabama.  Currently I work at
                            <a href="http://www.greenwaymedical.com/" target="_blank">Greenway</a>
                            <small>(formerly  <a href="http://www.successehs.com" target="_blank">SuccessEHS</a>)</small>
                            where I do mostly desktop development using Windows Forms and WPF coding in
                            <code>C#</code>.  Also at my current position I work with Oracle and <code>PL/SQL</code>.
                        </p>
                        <p class="lead">
                            I have a passion for learning about and working with new technologies, and that passion has led (in part) to this website.
                        </p>
                        <button id="btnContactMe" class="btn btn-primary" data-toggle="modal">Contact Me <i class="fa fa-envelope-o fa-lg"></i></button>
                        <a id="btnTwitter" class="btn btn-default" href="https://www.twitter.com/patsully88" target="_blank"><i class="fa fa-twitter-square fa-lg"></i></a>
                        <a id="btnTwitter" class="btn btn-default" href="http://instagram.com/patsully88" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
                    </div>
                    <div class="col-sm-2">
                    </div>
                </div>
            </div>
        </section>
        <!--Page 3-->
        <section class="page3 work-section ops-section" id="page3">
            <div class="container page_container">
                <h1 class="page-header">What I Do</h1>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="thumbnail work-thumbnail">
                            <a href="https://github.com/pdsullivan" target="_blank">
                                <img class="hidden-xs" src="Content/images/Git.png" alt="GitHub" />
                                <img class="visible-xs" src="Content/images/GitMed.png" alt="GitHub" />
                            </a>
                            <div class="caption text-center ">
                                <p class="lead">
                                    <a href="https://github.com/pdsullivan" target="_blank">My GitGub</a>
                                </p>
                                <p class="text-muted">This website is on there.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="thumbnail work-thumbnail">
                            <a href="http://www.linkedin.com/pub/patrick-sullivan/23/111/539" target="_blank">
                                <img class="hidden-xs" src="Content/images/LinkedIn.png" alt="LinkedIn" />
                                <img class="visible-xs" src="Content/images/LinkedInMed.png" alt="LinkedIn" />
                            </a>
                            <div class="caption text-center ">
                                <p class="lead">
                                    <a href="http://www.linkedin.com/pub/patrick-sullivan/23/111/539" target="_blank">LinkedIn</a>
                                </p>
                                <p class="text-muted">Connect with me!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="thumbnail work-thumbnail">
                            <a href="http://stackoverflow.com/users/1483002/drop-table-users" target="_blank">
                                <img class="hidden-xs" src="Content/images/Stack.png" alt="StackOverflow" />
                                <img class="visible-xs" src="Content/images/StackMed.png" alt="StackOverflow" />
                            </a>
                            <div class="caption text-center ">
                                <p class="lead">
                                    <a href="http://stackoverflow.com/users/1483002/drop-table-users" target="_blank">StackOverflow</a>
                                </p>
                                <p class="text-muted">My StackOverflow account.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Page 4-->
        <section class="page4 ops-section" data-ng-controller="contactController" id="page4">
            <div class="container page_container">
                <div class="row">

                    <div class="col-xs-12 ">
                        <h1 class="text-primary">Contact Me</h1>
                        <div class="modal-body">
                            <div ng-show="formSuccess" class="ng-hide alert alert-success alert-dismissable">
                                <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>-->
                                <strong>Thanks!</strong> Thank you so much for sending me a message. <i class="fa fa-smile-o"></i>
                            </div>
                            <div ng-show="formFail" class="ng-hide alert alert-danger">

                                <strong>Ouch!</strong> Something went wrong sending your message, very sorry! <i class="fa fa-frown-o"></i>
                            </div>
                            <!-- FORM -->
                            <form id="contactForm" ng-class="contactForm" name="contactForm" ng-submit="processForm()" novalidate>
                                <!-- NAME -->
                                <div class="form-group" ng-class="{ 'has-error' : contactForm.name.$invalid && !contactForm.name.$pristine }">
                                    <label>Name</label>
                                    <input type="text" name="name" class="form-control" placeholder="Bruce Wayne" ng-model="formData.name" required>
                                    <p ng-show="contactForm.name.$invalid && !contactForm.name.$pristine" class="help-block">You name is required.</p>
                                </div>
                                <!-- EMAIL -->
                                <div class="form-group" ng-class="{ 'has-error' : contactForm.email.$invalid && !contactForm.email.$pristine }">
                                    <label>Email</label>
                                    <input type="email" name="email" class="form-control" placeholder="Caped@Crusader.com" ng-model="formData.email" required>
                                    <p ng-show="contactForm.email.$invalid && !contactForm.email.$pristine" class="help-block">Enter a valid email.</p>
                                </div>
                                <!-- MESSAGE -->
                                <div class="form-group" ng-class="{ 'has-error' : contactForm.message.$invalid && !contactForm.message.$pristine }">
                                    <label>Message</label>
                                    <textarea ng-minlength="3" ng-maxlength="300" a name="message" class="form-control" placeholder="Dang, that Patrick Sullivan guy is a looser!!" ng-model="formData.message" required></textarea>
                                    <p ng-show="contactForm.message.$error.minlength" class="help-block">Message is too short.</p>
                                    <p ng-show="contactForm.message.$error.maxlength" class="help-block">Message is too long.</p>
                                </div>
                                <!-- SUBMIT BUTTON -->
                                <button type="submit" ng-disabled="contactForm.$invalid" class="btn btn-success">
                                    Send  <i class="fa fa-send-o fa-lg"></i></span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Page 5-->
        <section class="page5 ops-section" data-ng-controller="linksController" id="page5">
            <!---->
            <div class="container page_container">
                <h1>Check out some of these links...</h1>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Some Podcasts I Listen To&nbsp;<span class="badge">{{podcasts.length}}</span>&nbsp;<small><a href="/api/podcasts" target="_blank">api</a></small></h4>
                            </div>
                            <div class="panel-body">
                                <!--<div ng-repeat="podcast in podcasts">-->
                                <p class="ng-binding">
                                    <a href="http://dotnetrocks.com/" target="_blank" class="ng-binding">.NET Rocks!</a>
                                </p>
                                <p class="ng-binding">
                                    <a href="http://hanselminutes.com/" target="_blank" class="ng-binding">Hanselminutes</a> by <a href="http://www.hanselman.com/" target="_blank" class="ng-binding">Scott Hanselman</a>
                                </p>
                                <p class="ng-binding">
                                    <a href="https://itunes.apple.com/us/podcast/id393751871" target="_blank" class="ng-binding">Yet Another Podcast</a> by <a href="https://jesseliberty.com/" target="_blank" class="ng-binding">Jesse Liberty</a>
                                </p>
                                <p class="ng-binding">
                                    <a href="http://blog.stackoverflow.com/category/podcasts/" target="_blank" class="ng-binding">StackExchange Podcast</a>
                                </p>
                                <p class="ng-binding">
                                    <a href="http://herdingcode.com/" target="_blank" class="ng-binding">Herding Code Podcast</a>
                                </p>
                                <!--<p><a href="{{link.url}}" target="_blank">{{podcast.desc}}</a>{{podcast.text}}<a href="{{podcast.authorUrl}}" target="_blank">{{podcast.author}}</a></p>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="  panel panel-default">
                            <div class="panel-heading"><h4>Other Stuff&nbsp;<span class="badge">{{links.length}}</span>&nbsp;<small><a href="/api/links" target="_blank">api</a></small></h4></div>
                            <div class="panel-body">
                                <!--<div ng-repeat="link in links">-->
                                <p class="ng-binding"><a href="http://9to5mac.com/" target="_blank" class="ng-binding">9to5Mac</a> Apple Intelligence<a href="" target="_blank" class="ng-binding"></a></p>
                                <p class="ng-binding"><a href="http://blog.stackexchange.com/" target="_blank" class="ng-binding">StackExchange Blog</a><a href="" target="_blank" class="ng-binding"></a></p>
                                <p class="ng-binding"><a href="https://github.com/pdsullivan" target="_blank" class="ng-binding">My Github Account</a> (Not much on there at the moment)<a href="" target="_blank" class="ng-binding"></a></p>
                                <!--<p><a href="{{link.url}}" target="_blank">{{link.desc}}</a>{{link.text}}<a href="{{link.authorUrl}}" target="_blank">{{link.author}}</a></p>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="  panel panel-default">
                            <div class="panel-heading"><h4>Dev Resources&nbsp;<span class="badge">{{devLinks.length}}</span>&nbsp;<small><a href="/api/devLinks" target="_blank">api</a></small></h4></div>
                            <div class="panel-body">
                                <!--<div ng-repeat="devLink in devLinks">-->
                                <p class="ng-binding"><a href="http://webdevchecklist.com/" target="_blank" class="ng-binding">Web Development Checklist</a><a href="" target="_blank" class="ng-binding"></a></p>
                                <p class="ng-binding"><a href="http://sidewaffle.com/" target="_blank" class="ng-binding">SideWaffle</a><a href="" target="_blank" class="ng-binding"></a></p>
                                <!--<p><a href="{{devLink.url}}" target="_blank">{{devLink.desc}}</a>{{devLink.text}}<a href="{{devLink.authorUrl}}" target="_blank">{{devLink.author}}</a></p>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- Contact Modal -->
    <div class="modal fade" id="myContactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Contact Form</h4>
                </div>
                <div class="modal-body">
                    <a class="twitter-timeline" href="https://twitter.com/PatSully88" data-widget-id="462595082286166016">Tweets by @PatSully88</a>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="Scripts/jquery-2.1.0.min.js"></script>
    <script src="Scripts/jquery.onepage-scroll.min.js"></script>
    <!--<script src="Scripts/v1.onepage-scroll.js"></script>-->
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/site.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controllers/linksController.js"></script>
    <script src="app/services/linksService.js"></script>
    <script src="app/controllers/contactController.js"></script>
</body>
</html>
