<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    
    <customErrors defaultRedirect="/ErrorPages/ErrorPage.html" mode="On">
      <error statusCode="404" redirect="/ErrorPages/404ErrorPage.html"/>
      <error statusCode="403" redirect="/ErrorPages/403ErrorPage.html"/>
      <error statusCode="500" redirect="/ErrorPages/500ErrorPage.html"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <httpErrors errorMode="Custom" >
      <remove statusCode="404" subStatusCode='-1' />
      <error statusCode="404" path="/ErrorPages/404ErrorPage.html" prefixLanguageFilePath="" responseMode="ExecuteURL"  />
      <remove statusCode="500" subStatusCode='-1' />
      <error statusCode="500" path="/ErrorPages/500ErrorPage.html" prefixLanguageFilePath="" responseMode="ExecuteURL"  />
      <remove statusCode="403" subStatusCode='-1' />
      <error statusCode="403" path="/ErrorPages/403ErrorPage.html" prefixLanguageFilePath="" responseMode="ExecuteURL"  />
    </httpErrors>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>